# Chapitre 2 : Introduction √† Pandas üêº

Dans ce cours, nous allons explorer Pandas, une biblioth√®que Python puissante pour l'analyse et la manipulation de donn√©es.

De plus n'h√©site pas √† lire ses ressouces avant de venir en masterclasse ‚úÖ

- [Documentation officielle de Pandas](https://pandas.pydata.org/docs/)
- [CheatSheetPandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- [Yet another cheat sheet](https://www.webpages.uidaho.edu/~stevel/cheatsheets/Pandas%20DataFrame%20Notes_12pages.pdf)
- [Utilisation de seaborn](https://seaborn.pydata.org/)

Si tu as des questions ! üôåüèº Lance toi !

Durant cette masterclasse et en prendant en compte les diff√©rents retours des masterclasses pr√©c√©dentes, nous allons travailler de la sorte:

- D√©couverte de la librairie ensemble avec diff√©rents exemples et cas pratiques
- D√©couverte et manipulation dun jeu de donn√©es tr√®s connus dans la litterature ‚û°Ô∏è le titanic üõ≥Ô∏è
- Utilisation de Seaborn et Matplotlib pour la visualisation des donn√©es
- Exercice pratique en solo ü´£

## 1. Introduction √† Pandas

### Qu'est-ce que Pandas ? ü§î

Pandas est une biblioth√®que Python open-source qui fournit des structures de donn√©es et des outils d'analyse de donn√©es performants. Elle est particuli√®rement utile pour travailler avec des donn√©es structur√©es, comme des tableaux ou des s√©ries temporelles.

Les principales structures de donn√©es dans Pandas sont :
- Series : Une colonne de donn√©es unidimensionnelle
- DataFrame : Une structure de donn√©es bidimensionnelle (comme un tableau)

Il faut voir la dataframe comme un tableau de donn√©es avec des lignes et des colonnes. Un peu comme un **excel**.

Pandas permet de faire √©norm√©ment de chose avec ces structures de donn√©es en python !

Pour bien comprendre la diff√©rence entre une s√©rie et un dataframe:

 - ```Une s√©rie est une liste de donn√©es```

<div style="text-align: center;">
<img src="./image/series.png" width="100" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);border-radius: 10px;"/>
  <figcaption>Une s√©rie</figcaption>

</div>

 - ```Un DataFrame est une structure de donn√©es bidimensionnelle compos√©e de s√©ries qui peuvent √™tre de diff√©rents types.```
<div style="text-align: center;">
<img src="./image/seriesdf.png" width="500" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);border-radius: 10px;"/>
  <figcaption>Series et DataFrame</figcaption>

</div>

### Cr√©ation d'un DataFrame √† partir d'une et de deux s√©ries üßÆ

Ok, passons √† la pratique ! On va simplement voir ceux qui entourent les **series** et les **dataframes**. ü§ì

In [18]:
from utils.operations import obtenir_appreciation
# Importation de pandas
import pandas as pd

# Cr√©er une s√©rie un peu comme apples mais avec des notes
notes = pd.Series([12, 14, 16, 18, 20])

# Appliquer la fonction d'appr√©ciation
appreciations = [obtenir_appreciation(note) for note in notes]

# Des types diff√©rents ??
print("---------")
print("Type de appreciations:", type(appreciations))
print("---")
print("Contenu de appreciations:", appreciations)
print("---------")
print("\nType de notes:", type(notes))
print("---")
print("Contenu de notes:", notes)
print("---------")

---------
Type de appreciations: <class 'list'>
---
Contenu de appreciations: ['Assez bien üôÇ', 'Bien üëç', 'Tr√®s bien ! üòä', 'Excellent ! üåü', 'Excellent ! üåü']
---------

Type de notes: <class 'pandas.core.series.Series'>
---
Contenu de notes: 0    12
1    14
2    16
3    18
4    20
dtype: int64
---------

ü§î Il y a un type **liste**, un type **pd.series** ?? Kesako ? 

Comme je vous l'ai dis, pandas est une librairie qui permet de manipuler les donn√©es.
Mais pour construire un dataframe il faut √† minima une s√©rie de donn√©es.

ü§î Comment faire pour cr√©er un dataframe ? 

```python
pd.DataFrame({'Appr√©ciations': appreciations})
```

Pour en cr√©er un, √† partir d'au minimum une s√©rie, nous devons lui donner le <span style="color: orange;">nom de sa colonne</span> ainsi que les <span style="color: red;">valeurs qui composent cette colonne</span>:
<div style="text-align: left;">
<img src="./image/explaindf.png" width="400" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);border-radius: 10px;"/>


</div>

Un peu de code :

In [16]:
# Transformer les appr√©ciations en DataFrame
df_appreciations = pd.DataFrame({'Appr√©ciations': appreciations})

print("DataFrame cr√©√© √† partir des appr√©ciations:")
df_appreciations

DataFrame cr√©√© √† partir des appr√©ciations:

   Appr√©ciations
0   Assez bien üôÇ
1         Bien üëç
2  Tr√®s bien ! üòä
3  Excellent ! üåü
4  Excellent ! üåü


Maintenant cr√©ons un dataframe √† partir de deux s√©ries.

```python
df_notes = pd.DataFrame({
    'Notes': notes,
    'Appr√©ciations': appreciations
})
```

In [22]:

note_et_appreciation = pd.DataFrame({
    'Notes': notes,
    'Appr√©ciations': appreciations
})
note_et_appreciation

   Notes  Appr√©ciations
0     12   Assez bien üôÇ
1     14         Bien üëç
2     16  Tr√®s bien ! üòä
3     18  Excellent ! üåü
4     20  Excellent ! üåü

üéâ Ok nous avons un premier dataframe.

Mais il manque un petit quelque chose ...

```Si je veux la note d'un √©tudiant, par exemple Lise, ou Rapha√´l ? ```

Ici nous avons deux possibilit√©s, soit je cr√©er ce que j'appelle un index, ou bien une colonne.

Il est toujours pr√©f√©rable d'avoir des index uniques pour chaque ligne. 

Nous allons donc simplement ajouter une colonne avec le nom des √©tudiants et nous l'appellerons "noms".

In [43]:
# Dans ma df note_et_appreciation, je cr√©er une colonne qui s'appelle "noms" et je lui donne les valeurs suivantes :
note_et_appreciation["noms"]= ["Lise", "Raphael", "Laurence", "Hugo", "Bertrand"]

#Je l'affiche
note_et_appreciation

   Notes  Appr√©ciations      noms
0     12   Assez bien üôÇ      Lise
1     14         Bien üëç   Raphael
2     16  Tr√®s bien ! üòä  Laurence
3     18  Excellent ! üåü      Hugo
4     20  Excellent ! üåü  Bertrand

Magie ü™Ñ, pour cr√©er une nouvelle colonne, je n'ai pas besoin de faire une boucle for. Je peux simplement lui donner les valeurs avec le nom de sa colonne comme dans le code pr√©c√©dent.

## ‚õîÔ∏è Attention ‚õîÔ∏è

Si je fais √ßa : 

```python
note_et_appreciation["noms"]= ["Lise", "Raphael", "Laurence", "Hugo", "Bertrand","Christopher"]
```
<p style="color: red;">Il y aura une erreur.</p>

ü§î Pourquoi ? 

Car mon nombre de valeurs dans la s√©rie que je souhaite ajouter √† ma df ne correspond pas au nombre de ligne dans ma series. 

## Acc√©der aux valeurs dans un dataframe üïµüèº‚Äç‚ôÇÔ∏è

Pour acc√©der aux valeurs d'une colonne dans un dataframe, il faut faire comme ceci : 

```python
note_et_appreciation["noms"]
```

Pour acc√©der √† une valeur en particulier, il faut faire comme ceci : 

```python
note_et_appreciation["noms"][0]
```

Pour acc√©der √† une ligne en particulier, il faut faire comme ceci : 

```python
note_et_appreciation.loc[0]
```

In [32]:
# J'acc√©de √† une s√©rie de mon dataframe
print(note_et_appreciation["noms"])
print("---------")
print(type(note_et_appreciation["noms"]))
print("---------")

0        Lise
1     Raphael
2    Laurence
3        Hugo
4    Bertrand
Name: noms, dtype: object
---------
<class 'pandas.core.series.Series'>
---------

In [51]:
# J'acc√©de √† une s√©rie de mon dataframe

print(type(note_et_appreciation[["noms"]]))
print("---------")
note_et_appreciation[["noms"]]

<class 'pandas.core.frame.DataFrame'>
---------

       noms
0      Lise
1   Raphael
2  Laurence
3      Hugo
4  Bertrand

In [33]:
# J'acc√©de √† une valeur en particulier de ma serie
print(note_et_appreciation["noms"][0])
print("---------")
print(type(note_et_appreciation["noms"][0]))
print("---------")

Lise
---------
<class 'str'>
---------

In [41]:

# J'acc√©de √† une ligne en particulier de ma serie
print(note_et_appreciation.loc[0])
print("---------")
print(type(note_et_appreciation.loc[0]))
print("---------")

Notes                      12
Appr√©ciations    Assez bien üôÇ
noms                     Lise
Name: 0, dtype: object
---------
<class 'pandas.core.series.Series'>
---------

In [55]:
#Acc√©der √† un sous groupe de ligne en affichant la colonne noms
note_et_appreciation.loc[3:4,["noms"]]

       noms
3      Hugo
4  Bertrand

**Un petit r√©sum√© :**

 <div style="display: flex; align-items: center;">
     <img src="./image/diffaccess1.png" width="300" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border-radius: 10px;"/>
     <div style="margin-left: 12px;">
         <p style="color: red;">1. Acc√©der √† une ligne : <code>note_et_appreciation.loc[1]</code></p>
         <p style="color: orange;">2. Acc√©der √† une colonne : <code>note_et_appreciation["Notes"]</code></p>
         <p style="color: green;">3. Acc√©der √† la premi√®re valeur de la colonne noms : <code>note_et_appreciation["noms"][0]</code></p>
         <p style="color: blue;">4. Acc√©der √† un sous groupe de ligne : <code>note_et_appreciation.loc[3:4]</code></p>
     </div>
 </div>

### Filtrer et op√©rer sur les donn√©es üü∞
#### Les filtres bool√©ens

Si tu ne sais pas ce qu'est un bool√©en, vas lire l'article suivant :
- [Un bool√©en Kesako ? ü§î](https://www.maxicours.com/se/cours/comprendre-les-booleens/)


Pandas, permet de parcourir les donn√©es et donc de les analyser facilement. 
Pour ce faire nous allons voir ce qu'est la s√©lection conditionnelle. 

```python
personnes_notes_elevees = note_et_appreciation[(note_et_appreciation['Notes'] >= 16) & (note_et_appreciation['noms'] == 'Bertrand')]
```

On peut utiliser query et avoir √©xactement le m√™me r√©sultat:

```python
note_et_appreciation.query('Notes >= 16 and noms == "Bertrand"')
```

ü§î Comment lire ce code ? 

On veut les personnes ayant une note sup√©rieure ou √©gale √† 16 **ET** le nom de la personne est √©gale √† Bertrand.

In [71]:
# Filtrer les personnes ayant une note sup√©rieure √† 16
personnes_notes_elevees = note_et_appreciation[(note_et_appreciation['Notes'] >= 16) & (note_et_appreciation['noms'] == 'Bertrand')]

# Afficher le r√©sultat
print("Personnes avec une note sup√©rieure √† 16 :")
personnes_notes_elevees

Personnes avec une note sup√©rieure √† 16 :

   Notes  Appr√©ciations      noms  au_dessus_de_16  c_est_bertrand
4     20  Excellent ! üåü  Bertrand             True            True

On peut utiliser query et avoir √©xactement le m√™me r√©sultat.

In [72]:
note_et_appreciation.query('Notes >= 16 and noms == "Bertrand"')

   Notes  Appr√©ciations      noms  au_dessus_de_16  c_est_bertrand
4     20  Excellent ! üåü  Bertrand             True            True

Ca fonctionne avec l'aide de masque bool√©en.

```python
note_et_appreciation['Notes'] >= 16
```

```python
note_et_appreciation['noms'] == 'Bertrand'
```

In [73]:
#Je cr√©er une colonne qui s'appelle "au_dessus_de_16" et je lui donne la valeur True si la note est sup√©rieure ou √©gale √† 16 et False si la note est inf√©rieure √† 16.
note_et_appreciation["au_dessus_de_16"] = note_et_appreciation["Notes"] >= 16

#Je cr√©er une colonne qui s'appelle "c_est_bertrand" et je lui donne la valeur True si le nom est √©gale √† Bertrand et False si le nom est diff√©rent de Bertrand.
note_et_appreciation["c_est_bertrand"] = note_et_appreciation["noms"] == "Bertrand"

#J'affiche le r√©sultat
note_et_appreciation

   Notes  Appr√©ciations      noms  au_dessus_de_16  c_est_bertrand
0     12   Assez bien üôÇ      Lise            False           False
1     14         Bien üëç   Raphael            False           False
2     16  Tr√®s bien ! üòä  Laurence             True           False
3     18  Excellent ! üåü      Hugo             True           False
4     20  Excellent ! üåü  Bertrand             True            True

**Nous avons utilis√© des masques bool√©ens.**

 <div style="display: flex; align-items: center;">
     <img src="./image/mask.png" width="500" style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); border-radius: 10px;"/>
     <div style="margin-left: 12px;">
     <p> 1. Au dessus de 16  et c'est Bertrand  sont nos masques bool√©ens</p>
     <p> 2. On les applique avec un "and" entre eux</p>
     <p> 3. Je ne r√©cup√©re que les lignes ou les deux conditions sont vraies</p>
     <p> 4. Ici une seule</p>
  
 </div>

#### Quelques m√©thodes sympa üéÅ

In [94]:
# Savoir si une colonne contient un texte, mot particulier
note_et_appreciation["noms"].str.contains("h", case=False)

0    False
1     True
2    False
3     True
4    False
Name: noms, dtype: bool

In [95]:
#Utilisation de inplace=True pour modifier la colonne et ne plus avoir √† reassigner la dataframe
note_et_appreciation["noms"].replace("Bertrand", "Dark Vador", inplace=True)
print(note_et_appreciation)

   Notes  Appr√©ciations        noms  au_dessus_de_16  c_est_bertrand
0     12   Assez bien üôÇ        Lise            False           False
1     14         Bien üëç     Raphael            False           False
2     16  Tr√®s bien ! üòä    Laurence             True           False
3     18  Excellent ! üåü        Hugo             True           False
4     20  Excellent ! üåü  Dark Vador             True            True

In [96]:
#Ordonner une colonne
note_et_appreciation["Notes"].sort_values(ascending=False)

4    20
3    18
2    16
1    14
0    12
Name: Notes, dtype: int64

In [99]:
# Op√©ration d'aggr√©gation
somme_des_note = note_et_appreciation["Notes"].sum()
moyenne_des_note = note_et_appreciation["Notes"].mean()
ecart_type_des_notes = note_et_appreciation["Notes"].std()

print(f'La moyenne des notes est de {moyenne_des_note} et l\'√©cart type des notes est de {ecart_type_des_notes}')

La moyenne des notes est de 16.0 et l'√©cart type des notes est de 3.1622776601683795

In [100]:
# Faire un calcul pr√©cis sur une colonne dans le dataframe afin de cr√©er une nouvelle colonne que nous souhaitons analyser

# Ajout d'une nouvelle colonne qui compte le nombre de lettres dans chaque nom d'√©tudiant
note_et_appreciation['nombre_lettres_nom'] = note_et_appreciation['noms'].str.len()

# Affichage du r√©sultat
print(note_et_appreciation)

   Notes  Appr√©ciations        noms  au_dessus_de_16  c_est_bertrand  \
0     12   Assez bien üôÇ        Lise            False           False
1     14         Bien üëç     Raphael            False           False
2     16  Tr√®s bien ! üòä    Laurence             True           False
3     18  Excellent ! üåü        Hugo             True           False
4     20  Excellent ! üåü  Dark Vador             True            True

   nombre_lettres_nom
0                   4
1                   7
2                   8
3                   4
4                  10

## Analyser des donn√©es 

L'analyse de donn√©es est un champ vaste et complexe. 
Dans cette masterClasse, nous allons faire une passe rapide et assez simple.

In [70]:
import requests

# URL de l'APIx
url = "https://dashboard-strapi.hodi.cloud/api/articles?fields[0]=id&fields[1]=title&fields[2]=body"

# R√©cup√©rer les donn√©es
response = requests.get(url)
data = response.json()
df_articles = pd.DataFrame([
    {
        'id': article['id'],
        'title': article['attributes']['title'],
        'body': article['attributes']['body'][0]['children'][0]['text']
    }
    for article in data['data']
])
# Cr√©er un DataFrame √† partir des donn√©es

df_articles.head(100)

,id,title,body
0,2,Comment jongler avec des baguettes magiques,Harry Potter nous raconte comment il a appris ...
1,3,Le guide ultime du sabre laser,Luke Skywalker nous explique que manier un sab...
2,4,Le secret du sourire de la Joconde,"Sherlock Holmes nous d√©voile, apr√®s des ann√©es..."
3,5,Comment survivre √† une apocalypse zombie,"Rick Grimes, h√©ros de The Walking Dead, partag..."
4,6,Construire son armure en cave,"Tony Stark, alias Iron Man, partage ses astuce..."
5,7,Les meilleures pizzas pour tortues ninja,"Michelangelo, la plus gourmande des Tortues Ni..."
6,8,Faire ses courses en Batmobile,"Bruce Wayne, alias Batman, partage les d√©fis i..."
7,9,L'art du camouflage en for√™t,"Katniss Everdeen, h√©ro√Øne de Hunger Games, nou..."
8,10,Les vertus du miel magique,Winnie l'Ourson partage ses r√©flexions profond...
9,11,Pourquoi les aliens adorent les v√©los,"E.T., le c√©l√®bre extraterrestre, nous explique..."
10,12,Article de la masterclass,blablablablablablablablablablablablablablablab...